.App {
    text-align: center;
    margin-top: 100px;
}
h1{
    color: red;
}
form {
    margin-bottom: 20px;
}
input {
    margin-bottom: 5px;
}
button {
    background-color: yellow;
    box-shadow: black 5px 5px 5px;
    font-weight: bold;
    font-size: 14pt;
}
span {
    margin: 5px;
}
.listItems{
    display: flex;
    width: 250px;
    text-align: left;
    margin-left: 565px;
    justify-content: space-between;
    margin-top: 5px;
}